@tailwind base;

@layer base {
  html {
    font-family: "IranSans", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 62.5%;
  }

  @font-face {
    font-family: "IranSans";
    style: normal;
    src: url("../fonts/IRANSans.eot") format("eot"),
      url("../fonts/IRANSans.otf") format("otf"),
      url("../fonts/IRANSans.ttf") format("ttf"),
      url("../fonts/IRANSans.woff") format("woff");
  }

  input,
  button,
  textarea,
  select {
    font-family: "IranSans";
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 900;
  }
  h1 {
    font-size: 3rem;
  }
}

@tailwind components;

@layer components {
  .title-color {
    @apply text-gray-700 dark:text-gray-100;
  }

  .dark-mode {
    @apply text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-100;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }

  .custom-transition {
    @apply transition-all duration-300 ease-in-out;
  }

  .text-s-w {
    @apply text-xl font-medium;
  }
}

@tailwind utilities;
