@tailwind base;

@layer base {
  html {
    font-family: "IranSans", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 62.5%;
  }

  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/eot/IRANSansWeb.eot");
    src: url("../fonts/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
      url("../fonts/woff2/IRANSansWeb.woff2") format("woff2"),
      url("../fonts/woff/IRANSansWeb.woff") format("woff"),
      url("../fonts/ttf/IRANSansWeb.ttf") format("truetype");
  }

  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/eot/IRANSansWeb_Medium.eot");
    src: url("../fonts/eot/IRANSansWeb_Medium.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/woff2/IRANSansWeb_Medium.woff2") format("woff2"),
      url("../fonts/woff/IRANSansWeb_Medium.woff") format("woff"),
      url("../fonts/ttf/IRANSansWeb_Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/eot/IRANSansWeb_Bold.eot");
    src: url("../fonts/eot/IRANSansWeb_Bold.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/woff2/IRANSansWeb_Bold.woff2") format("woff2"),
      url("../fonts/woff/IRANSansWeb_Bold.woff") format("woff"),
      url("../fonts/ttf/IRANSansWeb_Bold.ttf") format("truetype");
  }

  /* this font is for the Persian numbers */
  @font-face {
    font-family: IRANSansNumber;
    font-style: normal;
    font-weight: normal;
    src: url("../fontsNumber/eot/IRANSansWeb(FaNum).eot");
    src: url("../fontsNumber/eot/IRANSansWeb(FaNum).eot?#iefix")
        format("embedded-opentype"),
      url("../fontsNumber/woff2/IRANSansWeb(FaNum).woff2") format("woff2"),
      url("../fontsNumber/woff/IRANSansWeb(FaNum).woff") format("woff"),
      url("../fontsNumber/ttf/IRANSansWeb(FaNum).ttf") format("truetype");
  }

  input,
  button,
  textarea,
  select {
    font-family: "IranSans";
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 900;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.3rem;
  }
}

@tailwind components;

@layer components {
  .title-color {
    @apply text-gray-700 dark:text-gray-300;
  }

  .dark-mode {
    @apply text-gray-700 bg-gray-50 dark:bg-dark-600 dark:text-gray-300 dark:border-gray-400;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }

  .custom-transition {
    @apply transition-all duration-300 ease-in-out;
  }

  .text-s-w {
    @apply text-xl font-medium;
  }

  .li-custom-style {
    @apply flex items-center w-full gap-1 rounded-md whitespace-nowrap hover:pl-10 rtl:hover:pr-10 hover:dark:bg-dark-500 hover:text-purple-700 custom-transition sm:text-xl dark:text-gray-300 hover:bg-purple-100 sm:hover:bg-purple-50;
  }
  .main-modal {
    @apply absolute w-3/4 py-8 -translate-y-full bg-gray-50 rounded-xl;
  }
  .disable-scroll {
    @apply h-full overflow-hidden;
  }
}

@tailwind utilities;

@layer utilities {
  .text-rtl {
    direction: rtl;
  }

  .text-ltr {
    direction: ltr;
  }
}

[x-cloak] {
  display: none !important;
}

.top-swiper-container .top-swiper-prev,
.top-swiper-container .top-swiper-next {
  @apply hidden px-6 border-2 border-gray-100 rounded-full lg:flex py-14 backdrop-blur-md;
}

.top-swiper-container .top-swiper-next {
  @apply -right-6;
}
.top-swiper-container .top-swiper-prev {
  @apply -left-6;
}

.top-swiper-container .top-swiper-prev::after,
.top-swiper-container .top-swiper-next::after {
  @apply text-3xl font-bold text-gray-700 dark:text-gray-300;
}

.slider-container .bottom-swiper-prev,
.slider-container .bottom-swiper-next {
  @apply hidden px-6 border-2 border-gray-100 rounded-full lg:flex py-14 backdrop-blur-md;
}

.slider-container .bottom-swiper-prev::after,
.slider-container .bottom-swiper-next::after {
  @apply text-3xl font-bold text-gray-700 dark:text-gray-300;
}

.slider-container .bottom-swiper-prev {
  @apply -left-4;
}
.slider-container .bottom-swiper-next {
  @apply -right-4;
}

.handle-direction .rtl-flag {
  @apply flex !important;
}

.handle-direction .ltr-flag {
  @apply hidden !important;
}

.handle-direction.rtl .rtl-flag {
  @apply hidden !important;
}

.handle-direction.rtl .ltr-flag {
  @apply flex !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.handle-modes .moon {
  @apply block;
}
.handle-modes .sun {
  @apply hidden;
}

.handle-modes.darkMode .moon {
  @apply hidden;
}
.handle-modes.darkMode .sun {
  @apply block;
}
